* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section {
    padding: 5rem 11%;
}

.cabecalho {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
}

.cabecalho span {
    color: #690aa0;
}

.botao {
    display: inline-block;
    margin-top: 1rem;
    border: .3rem solid #000000;
    border-radius: 1rem;
    background: #b545f7;
    color: #000000;
    padding: 1.5rem 4.9rem;
    cursor: pointer;
    font-size: 2.0rem;
}

.botao:hover {
    background: rgb(153, 0, 255);
    transform: scale(1.1) translateY(8px);
    transition: .4s;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .navbar a {
    font-size: 3rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover {
    color: #350552;
    transition: .4s;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .6rem solid rgba(0, 0, 0, .3);
    display: none;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../img/backgroud.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 50rem;
}

.home .content h3 {
    font-size: 7rem;
    color: #ffffff;
}

.home .content span {
    font-size: 4.5rem;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p {
    font-size: 2.4rem;
    color: #ffffff;
    padding: 1rem 0;
    line-height: 1.5;
}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container {
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #333;
}

.about .row .content p {
    font-size: 2.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 2.5rem;
}

.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4.0rem;
}

.products .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
    border-radius: 0.9rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
    background: #ffefe8;
}

.products .box-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: #a200ff;
    background: rgba(255, 51, 153, .05);
    z-index: 1;
    border-radius: .7rem;
    cursor: pointer;
}

.products .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img {
    height: 25rem;
}

.products .box-container .box:hover .image img {
    transform: scale(1.1);
}

.products .box-container .box .image .icons {
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons {
    bottom: 0;
}

.products .box-container .box .image .icons a {
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: #a200ff;
    color: #ffffff;
}

.products .box-container .box .image .icons .cart-btn {
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.products .box-container .box .image .icons a:hover {
    background: #7b34a7;
}

.products .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.products .box-container .box h3 {
    font-size: 2.5rem;
    color: #333;
}

.contato .row {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contato .row form {
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: .5rem;
}

.contato .row .image {
    flex: 1 1 40rem;
}

.contato .row .image img {
    width: 100%;
}

.contato .row form .box {
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-decoration: none;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contato .row form .box:focus {
    border-color: #000000;
}

.contato .row form textarea {
    height: 15rem;
    resize: none;
}

.contacts {
    background: #3d0061;
}
ul li {
    display: block;
}

.main {
    display: flex;
    flex-wrap: wrap;

}

.footer {
    padding: 6rem;

}

.col {
    width: 25%;
}

.col h4 {
    font-size: 2.9rem;
    color: #000000;
    margin-bottom: 25px;
    position: relative;

}

.col h4::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: #8006cc;
}

.col ul li:not(last-child) {
    margin-bottom: 0.5rem;
}

.col ul li a {
    color: #ffffff;
    font-size: 2rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}

.col ul li a:hover {
    color: rgb(132, 0, 255);
    transform: translateX(-12px);
}

.col .social {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col .social a {
    height: 40px;
    width: 40px;
    background: #892dbe;
    color: #ffefe8;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: .4s;
}

.col .social a:hover {
    transform: scale(1.2);
    background: #d283ff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);

}